header {
  color: #545454;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dae3e3;
}

.logo {
  background-image: url('../img/logo-dark.jpeg');
  width: 125px;
  height: 30px;
}

.display-mode-btn {
  border: 0;
  background-color: inherit;
}

.display-mode {
  width: 25px;
  height: 25px;
}

.display-mode:hover {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
